[submodule "vendor"]
	path = vendor
	url = https://github.com/ocornut/imgui.git
[submodule "RequirementsManager"]
	path = RequirementsManager
	url = https://github.com/FlyingRhenquest/RequirementsManager.git
[submodule "types"]
	path = types
	url = https://github.com/FlyingRhenquest/types.git
