[submodule "vendor"]
	path = vendor
	url = https://github.com/ocornut/imgui.git
[submodule "RequirementsManager"]
	path = RequirementsManager
	url = https://github.com/FlyingRhenquest/RequirementsManager.git
[submodule "types"]
	path = types
	url = https://github.com/FlyingRhenquest/types.git
[submodule "ImGuiDatePicker"]
	path = ImGuiDatePicker
	url = https://github.com/DnA-IntRicate/ImGuiDatePicker.git
[submodule "ImGuiFileDialog"]
	path = ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog.git
